flows.json
[
    {
        "id": "f24edb5bcf5818e3",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ca64b95d2f7bedae",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "005df9561efc7be2",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "256880434f94d56d",
        "type": "ui_tab",
        "name": "Medibox",
        "icon": "Temp",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c03c0a9e9638a4bc",
        "type": "ui_group",
        "name": "Features",
        "tab": "8ddf856740f9617c",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a8e39afd293c7fa7",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "256880434f94d56d",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d0877f47727af705",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "256880434f94d56d",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7505e16e2362d974",
        "type": "ui_group",
        "name": "",
        "tab": "256880434f94d56d",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8ddf856740f9617c",
        "type": "ui_tab",
        "name": "Settings",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "da1b79777c1c0162",
        "type": "ui_group",
        "name": "Shade Controller",
        "tab": "256880434f94d56d",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c4adf34ad03f081c",
        "type": "ui_group",
        "name": "",
        "tab": "256880434f94d56d",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "81c72a89dd5899f6",
        "type": "ui_group",
        "name": "Light intensity",
        "tab": "256880434f94d56d",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "739b43ef746daf7e",
        "type": "mqtt in",
        "z": "f24edb5bcf5818e3",
        "name": "",
        "topic": "Medibox Temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "005df9561efc7be2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 440,
        "y": 580,
        "wires": [
            [
                "80d9557539f1e798",
                "c829607d92514b81"
            ]
        ]
    },
    {
        "id": "c829607d92514b81",
        "type": "ui_gauge",
        "z": "f24edb5bcf5818e3",
        "name": "",
        "group": "d0877f47727af705",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "C",
        "format": "{{payload}}",
        "min": "0",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "35",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 580,
        "wires": []
    },
    {
        "id": "80d9557539f1e798",
        "type": "ui_chart",
        "z": "f24edb5bcf5818e3",
        "name": "",
        "group": "d0877f47727af705",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "30",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#a40e0e",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "ac23d262a0c2822d",
        "type": "mqtt out",
        "z": "f24edb5bcf5818e3",
        "name": "",
        "topic": "Medibox light",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "005df9561efc7be2",
        "x": 550,
        "y": 740,
        "wires": []
    },
    {
        "id": "602d1e571139898b",
        "type": "ui_switch",
        "z": "f24edb5bcf5818e3",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "c03c0a9e9638a4bc",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 90,
        "y": 740,
        "wires": [
            [
                "ac23d262a0c2822d"
            ]
        ]
    },
    {
        "id": "65b2f97f8fee2e11",
        "type": "ui_numeric",
        "z": "f24edb5bcf5818e3",
        "name": "",
        "label": "Min Temperature",
        "tooltip": "",
        "group": "d0877f47727af705",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "25",
        "step": 1,
        "className": "",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "6e7359b15fcc9243"
            ]
        ]
    },
    {
        "id": "0113cdf2aed083e0",
        "type": "ui_numeric",
        "z": "f24edb5bcf5818e3",
        "name": "",
        "label": "Max Temperature",
        "tooltip": "",
        "group": "d0877f47727af705",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "25",
        "max": "50",
        "step": 1,
        "className": "",
        "x": 130,
        "y": 520,
        "wires": [
            [
                "09028868ed2b8879"
            ]
        ]
    },
    {
        "id": "6e7359b15fcc9243",
        "type": "change",
        "z": "f24edb5bcf5818e3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "minT",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 440,
        "wires": [
            [
                "fa12791a71bf5ab5"
            ]
        ]
    },
    {
        "id": "09028868ed2b8879",
        "type": "change",
        "z": "f24edb5bcf5818e3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "maxT",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 520,
        "wires": [
            [
                "fa12791a71bf5ab5"
            ]
        ]
    },
    {
        "id": "fa12791a71bf5ab5",
        "type": "function",
        "z": "f24edb5bcf5818e3",
        "name": "min/max",
        "func": "const t1 = flow.get(\"minT\");\nconst t2 = flow.get(\"maxT\");\n\n\nmsg = {\n    ui_control: {\n        min: t1,\n        max: t2,\n        seg1: t1 + (t2 - t1) / 3,\n        seg2: t1 + 2 *(t2 - t1)/ 3\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nconst t1 = flow.get(\"minT\");\nconst t2 = flow.get(\"maxT\");\n\n\nmsg = {\n    ui_control: {\n        min: t1,\n        max: t2,\n        seg1: t1 + (t2 - t1) / 3,\n        seg2: t1 + 2 * (t2 - t1) / 3\n    }\n}\nreturn msg;",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 480,
        "wires": [
            [
                "c829607d92514b81"
            ]
        ]
    },
    {
        "id": "76e99d93b4acdc68",
        "type": "mqtt in",
        "z": "f24edb5bcf5818e3",
        "name": "",
        "topic": "Medibox Humi",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "005df9561efc7be2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 430,
        "y": 960,
        "wires": [
            [
                "6dc1ef54bf76d664",
                "78057090100b48bc"
            ]
        ]
    },
    {
        "id": "6dc1ef54bf76d664",
        "type": "ui_chart",
        "z": "f24edb5bcf5818e3",
        "name": "",
        "group": "a8e39afd293c7fa7",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "30",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#a40e0e",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 660,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "a948e9085ede12de",
        "type": "ui_numeric",
        "z": "f24edb5bcf5818e3",
        "name": "",
        "label": "Min Humidity",
        "tooltip": "",
        "group": "a8e39afd293c7fa7",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "step": 1,
        "className": "",
        "x": 110,
        "y": 820,
        "wires": [
            [
                "7f7a854d286ebc2b"
            ]
        ]
    },
    {
        "id": "f6e040a4929005dc",
        "type": "ui_numeric",
        "z": "f24edb5bcf5818e3",
        "name": "",
        "label": "Max Humidity",
        "tooltip": "",
        "group": "a8e39afd293c7fa7",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "50",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 120,
        "y": 900,
        "wires": [
            [
                "349c193d1f5d805d"
            ]
        ]
    },
    {
        "id": "7f7a854d286ebc2b",
        "type": "change",
        "z": "f24edb5bcf5818e3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "minH",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 820,
        "wires": [
            [
                "631f5c10147e5e6e"
            ]
        ]
    },
    {
        "id": "349c193d1f5d805d",
        "type": "change",
        "z": "f24edb5bcf5818e3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "maxH",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 900,
        "wires": [
            [
                "631f5c10147e5e6e"
            ]
        ]
    },
    {
        "id": "631f5c10147e5e6e",
        "type": "function",
        "z": "f24edb5bcf5818e3",
        "name": "min/max",
        "func": "const h1 = flow.get(\"minH\");\nconst h2 = flow.get(\"maxH\");\n\n\nmsg = {\n    ui_control: {\n        min: h1,\n        max: h2,\n        seg1: h1 + (h2 - h1) / 3,\n        seg2: h1 + 2 *(h2 - h1)/ 3\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "const h1 = flow.get(\"minH\");\nconst h2 = flow.get(\"maxH\");\n\n\nmsg = {\n    ui_control: {\n        min: h1,\n        max: h2,\n        seg1: h1 + (h2 - h1) / 3,\n        seg2: h1 + 2 * (h2 - h1) / 3\n    }\n}\nreturn msg;",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 860,
        "wires": [
            [
                "78057090100b48bc"
            ]
        ]
    },
    {
        "id": "78057090100b48bc",
        "type": "ui_gauge",
        "z": "f24edb5bcf5818e3",
        "name": "",
        "group": "a8e39afd293c7fa7",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "%",
        "format": "{{payload}}",
        "min": "0",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "35",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 960,
        "wires": []
    },
    {
        "id": "fe71660d3b144f51",
        "type": "ui_switch",
        "z": "f24edb5bcf5818e3",
        "name": "",
        "label": "Main switch",
        "tooltip": "",
        "group": "c4adf34ad03f081c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "65bf30d87000661d",
        "type": "ui_slider",
        "z": "f24edb5bcf5818e3",
        "name": "",
        "label": "Minimum angle",
        "tooltip": "",
        "group": "da1b79777c1c0162",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "120",
        "step": 1,
        "className": "",
        "x": 140,
        "y": 1220,
        "wires": [
            [
                "0e0c17a1dbb62189"
            ]
        ]
    },
    {
        "id": "0e4478cf126f96ed",
        "type": "ui_slider",
        "z": "f24edb5bcf5818e3",
        "name": "",
        "label": "Controlling factor",
        "tooltip": "",
        "group": "da1b79777c1c0162",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1",
        "step": "0.01",
        "className": "",
        "x": 150,
        "y": 1300,
        "wires": [
            [
                "0385ecd10f13eac9"
            ]
        ]
    },
    {
        "id": "0e0c17a1dbb62189",
        "type": "change",
        "z": "f24edb5bcf5818e3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "theta",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 1220,
        "wires": [
            [
                "93fa72781c1435f5"
            ]
        ]
    },
    {
        "id": "0385ecd10f13eac9",
        "type": "change",
        "z": "f24edb5bcf5818e3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gamma",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1300,
        "wires": [
            [
                "93fa72781c1435f5"
            ]
        ]
    },
    {
        "id": "93fa72781c1435f5",
        "type": "function",
        "z": "f24edb5bcf5818e3",
        "name": "function 1",
        "func": "const thetaMin = flow.get(\"theta\");\nconst gmma = flow.get(\"gamma\");\nconst I = flow.get(\"intensity\");\n\nconst motor_angle = thetaMin + (180 - thetaMin)*gmma*I;\nmsg.payload = motor_angle;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1300,
        "wires": [
            [
                "4af994606e6fb30a",
                "c9ca42a08d839ffd"
            ]
        ]
    },
    {
        "id": "51e27b18b93a6941",
        "type": "ui_text_input",
        "z": "f24edb5bcf5818e3",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "7505e16e2362d974",
        "order": 4,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "time",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 380,
        "y": 1680,
        "wires": [
            []
        ]
    },
    {
        "id": "ce89c333e1619dc8",
        "type": "ui_switch",
        "z": "f24edb5bcf5818e3",
        "name": "",
        "label": "Schedule",
        "tooltip": "",
        "group": "7505e16e2362d974",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 120,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "ae85743aee7b791b",
        "type": "ui_numeric",
        "z": "f24edb5bcf5818e3",
        "name": "",
        "label": "Days",
        "tooltip": "",
        "group": "7505e16e2362d974",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 110,
        "y": 1600,
        "wires": [
            []
        ]
    },
    {
        "id": "d91cca66d922b5a8",
        "type": "ui_switch",
        "z": "f24edb5bcf5818e3",
        "name": "",
        "label": "Temperature",
        "tooltip": "",
        "group": "c03c0a9e9638a4bc",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "86728be786e97790"
            ]
        ]
    },
    {
        "id": "e6900de4abd9ef8c",
        "type": "change",
        "z": "f24edb5bcf5818e3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Medibox_Temperature\"] }}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 20,
        "wires": [
            [
                "291e9d5e17d37a27"
            ]
        ]
    },
    {
        "id": "86728be786e97790",
        "type": "switch",
        "z": "f24edb5bcf5818e3",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 60,
        "wires": [
            [
                "e6900de4abd9ef8c"
            ],
            [
                "10f96344cafdb76d"
            ]
        ]
    },
    {
        "id": "291e9d5e17d37a27",
        "type": "ui_ui_control",
        "z": "f24edb5bcf5818e3",
        "name": "",
        "events": "all",
        "x": 780,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "10f96344cafdb76d",
        "type": "change",
        "z": "f24edb5bcf5818e3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Medibox_Temperature\"] }}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 100,
        "wires": [
            [
                "291e9d5e17d37a27"
            ]
        ]
    },
    {
        "id": "793a44ea80002c0e",
        "type": "ui_switch",
        "z": "f24edb5bcf5818e3",
        "name": "",
        "label": "Humidity",
        "tooltip": "",
        "group": "c03c0a9e9638a4bc",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 100,
        "y": 180,
        "wires": [
            [
                "898cba758e21eee8"
            ]
        ]
    },
    {
        "id": "ccd0b70ef847ee95",
        "type": "change",
        "z": "f24edb5bcf5818e3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Medibox_Humidity\"] }}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 140,
        "wires": [
            [
                "291e9d5e17d37a27"
            ]
        ]
    },
    {
        "id": "898cba758e21eee8",
        "type": "switch",
        "z": "f24edb5bcf5818e3",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 180,
        "wires": [
            [
                "ccd0b70ef847ee95"
            ],
            [
                "29b7d54c987fdf85"
            ]
        ]
    },
    {
        "id": "29b7d54c987fdf85",
        "type": "change",
        "z": "f24edb5bcf5818e3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Medibox_Humidity\"] }}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 220,
        "wires": [
            [
                "291e9d5e17d37a27"
            ]
        ]
    },
    {
        "id": "dd9bf70ba293b1d6",
        "type": "ui_switch",
        "z": "f24edb5bcf5818e3",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "7505e16e2362d974",
        "order": 3,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 1680,
        "wires": [
            []
        ]
    },
    {
        "id": "a73874250e882f8b",
        "type": "ui_text_input",
        "z": "f24edb5bcf5818e3",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "7505e16e2362d974",
        "order": 6,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "time",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 380,
        "y": 1760,
        "wires": [
            []
        ]
    },
    {
        "id": "0422a48054030a53",
        "type": "ui_switch",
        "z": "f24edb5bcf5818e3",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "7505e16e2362d974",
        "order": 5,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 1760,
        "wires": [
            []
        ]
    },
    {
        "id": "d42607cbe3cc6324",
        "type": "ui_text_input",
        "z": "f24edb5bcf5818e3",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "7505e16e2362d974",
        "order": 8,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "time",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 380,
        "y": 1840,
        "wires": [
            []
        ]
    },
    {
        "id": "5af61e9f5bd8b4dd",
        "type": "ui_switch",
        "z": "f24edb5bcf5818e3",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "7505e16e2362d974",
        "order": 7,
        "width": 1,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 1840,
        "wires": [
            []
        ]
    },
    {
        "id": "ee3fbeba57e7f617",
        "type": "mqtt in",
        "z": "f24edb5bcf5818e3",
        "name": "",
        "topic": "Medibox Inte",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "005df9561efc7be2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 1380,
        "wires": [
            [
                "7195373c5a75802a",
                "d0eb8ec6e1adfda5"
            ]
        ]
    },
    {
        "id": "b42ed6361bee2c54",
        "type": "ui_gauge",
        "z": "f24edb5bcf5818e3",
        "name": "",
        "group": "81c72a89dd5899f6",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "%",
        "format": "{{payload}}",
        "min": "0",
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "0.33",
        "seg2": "0.66",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 1380,
        "wires": []
    },
    {
        "id": "7195373c5a75802a",
        "type": "ui_chart",
        "z": "f24edb5bcf5818e3",
        "name": "",
        "group": "81c72a89dd5899f6",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "30",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#a40e0e",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 350,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "5fa3c58d08e8989b",
        "type": "ui_switch",
        "z": "f24edb5bcf5818e3",
        "name": "",
        "label": "Light Intensity",
        "tooltip": "",
        "group": "c03c0a9e9638a4bc",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 120,
        "y": 320,
        "wires": [
            [
                "60342e45a76f7bf1"
            ]
        ]
    },
    {
        "id": "31266f9edf131591",
        "type": "change",
        "z": "f24edb5bcf5818e3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Medibox_Light_intensity\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 280,
        "wires": [
            [
                "291e9d5e17d37a27"
            ]
        ]
    },
    {
        "id": "60342e45a76f7bf1",
        "type": "switch",
        "z": "f24edb5bcf5818e3",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 320,
        "wires": [
            [
                "31266f9edf131591"
            ],
            [
                "93e3c9b6d6fc459d"
            ]
        ]
    },
    {
        "id": "93e3c9b6d6fc459d",
        "type": "change",
        "z": "f24edb5bcf5818e3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Medibox_Light_intensity\"] }}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 360,
        "wires": [
            [
                "291e9d5e17d37a27"
            ]
        ]
    },
    {
        "id": "d0eb8ec6e1adfda5",
        "type": "change",
        "z": "f24edb5bcf5818e3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "intensity",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1380,
        "wires": [
            [
                "b42ed6361bee2c54",
                "93fa72781c1435f5"
            ]
        ]
    },
    {
        "id": "4af994606e6fb30a",
        "type": "mqtt out",
        "z": "f24edb5bcf5818e3",
        "name": "",
        "topic": "Medibox motor",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "005df9561efc7be2",
        "x": 780,
        "y": 1260,
        "wires": []
    },
    {
        "id": "c9ca42a08d839ffd",
        "type": "debug",
        "z": "f24edb5bcf5818e3",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 1340,
        "wires": []
    }
]